:root {
    --dark-light: oklch(70% 0.0014 198);
    --dark-semi-light: oklch(40% 0.0014 198);
    --dark-semi-dark: oklch(33% 0.0014 198);
    --dark-dark: oklch(30% 0.0014 198);
    --cloud-color: oklch(86.406% 0.00947 62);
    --background-color: oklch(99% 0.01411 85);
    --link-color: oklch(72.486% 0.10464 329.383);
    --bg-animation-speed: 15s;
}

.mainBox {
    display: flex;
    align-items: center;
    height: 50vh;
    aspect-ratio: 20 / 9;
    background-color: var(--dark-dark);
    border-radius: 1.4em;
    padding: 0.5em;
    font-size: clamp(12px, 1.2vw, 18px);
    position: relative;
    z-index: 1;
}

.rightBox {
    padding-left: 0.6em;
    box-sizing: border-box;
    font-size: 2.4vh;
}

.settings {
    display: flex;
    align-items: flex-start;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 2.4vh;
}

.img-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: oklch(0.69 0.14 230.78);
    border-radius: 0.9em; /* 1.4em (mainBox border-radius) - 0.5em (mainBox padding) = 0.9em */
}

.innerImage {
    display: block;
    height: 100%;
    width: auto;
    border-radius: 0.9em; /* 1.4em (mainBox border-radius) - 0.5em (mainBox padding) = 0.9em */
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    user-select: none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background-color: var(--cloud-color);
    mask-image: url(images/endless-clouds.svg);
    mask-size: 25vh;
    transform: rotate(-30deg);
    z-index: -1;
    pointer-events: none;
    animation: moveMask var(--bg-animation-speed) linear infinite;
}

@keyframes moveMask {
    from {
        mask-position: 0 0;
    }
    to {
        mask-position: 25vh 0;
    }
}

html * {
    font-family: 'Arial', sans-serif;
}

.title {
    font-size: 3.6vh;
    margin: 0 0 0 0;
    color: var(--dark-light);
    max-width: 50vh;
}

.subtitle {
    font-size: 2.4vh;
    margin: 0 0 0 0;
    color: var(--dark-light);
    font-weight: bold;
}

#settingsIcon {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.2;
    z-index: 2;
}

#creditsLink {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 3vh;
    color: black;
    cursor: pointer;
    opacity: 0.2;
    z-index: 2;
    background-color: transparent;
    border: none;
}

#creditsLink:hover {
    opacity: 0.7;
}

.hidden {
    display: none;
}

a {
    color: var(--link-color);
}

p {
    color: var(--dark-light);
}

.settingsSection {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-top: 0.5em;
}

#siteList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    max-height: 40vh;
    overflow-y: auto;
    margin-bottom: 0.5vh;
}

.link {
    text-decoration: none;
    color: var(--dark-light);
    padding: 0.5em 0.8em;
    background-color: var(--dark-semi-dark);
    border-radius: 0.4em;
    border: 1px solid var(--dark-semi-light);
    transition: background-color 0.3s ease;
}

.inputField {
    background-color: transparent;
    border: none;
    border-bottom: 0.01em solid var(--dark-light);
    color: var(--dark-light);
    font-size: 0.8em;
    min-width: 4ch;
    max-width: 53vh;
    box-sizing: content-box;
    field-sizing: content; /* Firefox doesn't support this yet, but its just slightly uglier. Will supposedly work in future */
}

.inputField:focus {
    outline: none;
    border-bottom: 0.01em solid var(--link-color);
}

.button {
    height: 3.5vh;
    font-size: 2vh;
    width: auto;
    padding: 0.4em 0.8em;
    background-color: var(--dark-semi-dark);
    border: 1px solid var(--dark-semi-light);
    border-radius: 0.4em;
    color: var(--dark-light);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch {
    position: relative;
    display: inline-block;
    height: 2vh;
    width: 4.4vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: var(--dark-semi-dark);
    transition: background-color 0.4s;
    border-radius: 0.2em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6vh;
    width: 1.1vh;
    left: 0.1em;
    bottom: 0.215vh;
    background-color: white;
    transition: 0.2s;
    border-radius: 0.17em;
}

input:checked + .slider {
    background-color: var(--link-color);
}

input:focus-visible + .slider {
    outline: 1px solid var(--link-color);
    outline-offset: 1px;
}

input:checked + .slider:before {
    transform: translateX(2.85vh);
}

.animSlider {
    width: 30vh;
    position: inherit;
    accent-color: var(--link-color);
}